<div class="nav-panel" id="nav-panel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    {% for page in site.pages %}
        {% if page.title %}
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endfor %}
    <div>
        <input type="checkbox" id="themeSwitcher" name="themeSwitcher" onclick="switchTheme();" />
        <label for="scales">Dark theme?</label>
    </div>
    <div class="header" id="header">
        <span class="hamburger-menu-button" style="font-size:30px;cursor:pointer" onclick="openNavigation()">&#9776;</span>
        <h2>{{ page.title }}</h2>
    </div>
</div>