<div class="nav-panel" id="nav-panel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    {% for page in site.pages %}
        {% if page.title %}
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endfor %}
    <a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
    <a href="{{ "/tags/" | prepend: site.baseurl }}">Tags</a>
    <footer class="nav-bottom-bar">
        <div class="themeModeSwitcher">
            <input type="checkbox" id="themeSwitcher" onclick="switchTheme();" />
            <label for="themeSwitcher" />
        </div>
        <span class="icon-border"></span>
        <a href="https://github.com/{{ site.github }}" class="toolbar-icon github"></a>
        <a href="https://twitter.com/{{ site.twitter }}" class="toolbar-icon twitter"></a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="toolbar-icon linkedin"></a>
        <a href="javascript:window.open('mailto:{{ site.email }}')" class="toolbar-icon email"></a>
        <a href="/feed.xml" target="_blank" class="toolbar-icon rss"></a>
    </footer>
    <div class="header" id="header">
        <span class="hamburger-menu-button" style="font-size:30px;cursor:pointer" onclick="openNavigation()">&#9776;</span>
        {% if page.header_title %}
            <h2>{{ page.header_title }}</h2>
        {% endif %}
    </div>
</div>