<div class="pagination">
    {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
      {% endif %}
      {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if trail.num == paginator.page %}
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}" class="active">{{ trail.num }}</a>
        {% else %}
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
        {% endif %}
      {% endfor %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
      {% endif %}
    {% endif %}
</div>