* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

a, a:visited {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: $font-color;
}

.container {
    width: calc(100% - 250px);
    min-height: vh(100);
    margin-left: 250px;
    padding: 15px;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: $header-background-color;
}

.content {
    flex: 1 0 auto;
}

.nav-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: $menu-background-color;
    position: fixed;
    transition: 0.5s;
    padding-top: $header-height;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;

        &:hover {
            color: $link-hover-color;
        }

        &.active {
            color: $link-hover-color;
        }
    }

    .closebtn {
        display: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.header {
    position: fixed;
    top: 0px;
    height: $header-height;
    left: 250px;
    width: calc(100% - 250px);
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    align-items: center;
    box-shadow: 0 15px 30px -16px $header-shadow-color;

    .hamburger-menu-button {
        display: none;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }


}

.row {
    overflow-x: inherit;
}

.cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    position: fixed;
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    .nav-panel {
        left: -250px;
        .closebtn {
            display: block;
        }
    }

    .nav-panel-open {
        left: 0px;
    }

    .header {
        width: 100%;
        left: 0;
        .hamburger-menu-button {
            display: block;
        }
    }

    .header-open {
        width: 100%;
        left: 250px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .container-open {

        width: 100%;
        margin-left: 250px;
    }

    .row-open {
        overflow-x: hidden;
    }

    .cover-open {
        left: 250px;
        display: block;
    }
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.7em;
    text-align: left;
    flex-shrink: 0;
}
