.image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    column-gap: 20px;
    justify-content: center;
    padding: 4px;
}

.box {
    flex-basis: 25%;
    width: 100%;
    padding: 10px;
    margin: 2px;
    text-align: center;
  }

.img-gallery {
    width: auto;
    height: 200px;
    margin : auto;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
}