* {
    box-sizing: border-box;
}

html {
    min-height: 280px;
}

h1,
h2,
h3 {
    font-weight: 600;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

a,
a:visited {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: $font-color;
    background-color: $background-color;
    min-height: 500px;
}

.container {
    width: calc(100% - #{$menu-width});
    min-height: vh(100);
    margin-left: $menu-width;
    padding: 15px;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.content {
    flex: 1 0 auto;
}

.nav-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    width: $menu-width;
    height: 100%;
    background-color: $menu-background-color;
    position: fixed;
    transition: 0.5s;
    padding-top: $header-height;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;

        &:hover {
            color: $link-hover-color;
        }

        &.active {
            color: $link-hover-color;
        }
    }

    .closebtn {
        display: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .nav-bottom-bar {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: 2rem 2.5rem 1.6rem;
        display: flex;
        flex-direction: row;

        .icon-border {
            background-color: white;
            width: 5px;
            height: 5px;
            margin-left: .25rem;
            margin-right: .25rem;
            border-radius: 50%;
            margin-top: .75rem;
        }

        .themeModeSwitcher {

            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label {
                background-color: white;
                mask: asset_url("dark_mode.svg") no-repeat;
                -webkit-mask: asset_url("dark_mode.svg") no-repeat;
                width: 25px;
                height: 25px;
                display: inline-block;
                padding: 0 0 0 0px;
            }
            input[type="checkbox"]:checked + label {
                background-color: white;
                mask: asset_url("light_mode.svg") no-repeat;
                -webkit-mask: asset_url("light_mode.svg") no-repeat;
                width: 25px;
                height: 25px;
                display: inline-block;
                padding: 0 0 0 0px;
            }
        }
    }


}

.header {
    position: fixed;
    top: 0px;
    height: $header-height;
    left: $menu-width;
    width: calc(100% - #{$menu-width});
    background-color: $header-background-color;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    align-items: center;
    box-shadow: 0 15px 30px -16px $header-shadow-color;

    .hamburger-menu-button {
        display: none;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.row {
    overflow-x: inherit;
}

.cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    position: fixed;
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    .nav-panel {
        left: -$menu-width;
        .closebtn {
            display: block;
        }
    }

    .nav-panel-open {
        left: 0px;
    }

    .header {
        width: 100%;
        left: 0;
        .hamburger-menu-button {
            display: block;
        }
    }

    .header-open {
        width: 100%;
        left: $menu-width;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    .container-open {
        width: 100%;
        margin-left: $menu-width;
    }

    .row-open {
        overflow-x: hidden;
    }

    .cover-open {
        left: $menu-width;
        display: block;
    }
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.7em;
    text-align: left;
    flex-shrink: 0;
}
